* {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*
 * Basic
 */

body {
  height: 100vh;
  background: linear-gradient(-20deg, cyan, #fff)
}

audio {
  display: none;
}

.text-center {
  text-align: center;
}

.btn {
  border: 0;
  padding: 5px;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0,0,0,0.3)
}

.btn:hover {
  color: #fff;
  background-color: hsla(128, 80%, 50%, 1) 
}

.container {
  padding: 10px;
}

/*
 * Components - Search
 */

.flash-text {
  margin: 0 10px;
  color: Red;
  font-family: monospace;
  font-size: 24px;
}

.title {
  text-shadow: 0 0 10px grey;
  text-fill-color: #fff;
  -webkit-text-fill-color: #fff;
  font-weight: 400;
}

input {
  margin: 0 10px;
  padding: 5px;
  border-radius: 5px;
  border: 0;
  box-shadow: inset 0 1px 2px grey;
}

.search {
  margin: 20px;
  display: flex;
  justify-content: center;
}

/*
 * Components - Lists
 */

.list {
  width: 80%;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.list-item ul {
  display: flex;
  box-shadow: 0 0 1px rgba(0,0,0,0.2)
}

.list-item li {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
}

ul.hide {
  display: none;
}