* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: 0;
}


/*
 * Basic
 */

body {
  min-height: 100vh;
  background: linear-gradient(-20deg, cyan, #fff)
}

a {
  text-decoration: none;
  color: #fff;
}

audio, video {
  display: none;
}

button {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.temp-show {
  background-color: rgba(0,0,0,0.2);
}

.btn {
  border: 0;
  padding: 5px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3)
}

.btn:hover {
  color: #fff;
  background: #02b875;
  border-color: #02b875;
  /*background-color: hsla(128, 80%, 50%, 1)*/
}

.container {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 5;
}


/*
 * Components - Menu
 */

.function-menu {
  display: flex;
}

.function-menu button {
  padding: 10px;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.8);
  border: 0;
  transition: .3s;
}

.function-menu button:hover {
  text-decoration: underline;
}


/*
 * Components - Search
 */

.search {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.title {
  text-shadow: 0 0 10px grey;
  text-fill-color: #fff;
  -webkit-text-fill-color: #fff;
  font-weight: 400;
}

input {
  margin: 0 10px;
  padding: 5px;
  border-radius: 5px;
  border: 0;
  box-shadow: inset 0 1px 2px grey;
}

.flash-text {
  height: 30px;
  margin: 10px;
  color: rgb(181, 28, 28);
  font-family: monospace;
  font-size: 20px;
}


/*
 * Components - Lists
 */

.list {
  width: 80%;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.list-head {
  position: relative;
  z-index: 5;
  background: rgba(0, 0, 0, 0.85);
  color: #fff;
}

.list-item {
  position: relative;
}

.list-head ul,
.list-item ul {
  width: 100%;
  display: flex;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  position: relative;
  transition: 0.3s;
}

.list-item ul.hide , .list-item ul.checked {
  position: absolute;
  transform: translateY(-100%);
  opacity: 0;
  z-index: 0;
  pointer-events: none;
}

.list-item ul {
  transform: translateY(0%);
  opacity: 1;
}

.list-head li,
.list-item li {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
}

.list-item button {
  padding: 0px 10px;
  border-radius: 15px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: 0.1s;
  transition-timing-function: cubic-bezier(0.47, -0.54, 0.75, 1.63);
}

.list-item button:hover {
  background: #02b875;
  border-color: #02b875;
  color: #fff;
  font-weight: 300;
  transform: scale(1.1);
}


/*
 * Animation
 */

.animation {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 80vw;
  height: 45vw;
  opacity: 0;
  background-color: #fff;
  pointer-events: none;
  transition: .3s;
  transform: scale(0.8,0.7) translate(0, -50px);
  z-index: 10;
}

.animation.active {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1,1) translate(0,0)
}

.hide-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  background: #fff;
  border: 1px solid gray;
  border-radius: 50%;
}

@media screen and (max-width: 600px) {
  .list-head ul, .list-item ul {
    display: block;
  }
}